.member-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.friend-list {
    background-color: #fff;
    border-radius: px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.friend.clicked {
    background-color: black;


}

.friend-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.friend-item:hover {
    background-color: #f0f0f0;
}

.friend-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-details {
    flex-grow: 1;
}

.friend-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.last-message {
    font-size: 14px;
    color: #777;
}

.arrow-icon {
    color: #555;
}

.grey {
    background-color: #eee;
}

.conv_zone {
    background-color: white;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    /* scrollbar-color: #777 #f0f0f0; */
}

.friend-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.friend-item:hover {
    background-color: #f0f0f0;
}

.friend-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-details {
    flex-grow: 1;
}

.friend-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.last-message {
    font-size: 14px;
    color: #777;
}

.arrow-icon {
    color: #555;
}

/* Custom styles for the modal */
.custom-modal {
    border-radius: 10px;
    /* Adjust the border-radius as needed */
    background-color: #ffffff;
    /* White background color */
}

/* Custom styles for the modal header */
.custom-modal .modal-header {
    border-top-left-radius: 10px;
    /* Rounded top-left corner */
    border-top-right-radius: 10px;
    /* Rounded top-right corner */
    background-color: #007bff;
    /* Header background color */
    color: #ffffff;
    /* Header text color */
}

/* Custom styles for the modal body */
.custom-modal .modal-body {
    border-bottom-left-radius: 10px;
    /* Rounded bottom-left corner */
    border-bottom-right-radius: 10px;
    /* Rounded bottom-right corner */
}

/* Custom styles for the modal footer */
.custom-modal .modal-footer {
    border-bottom-left-radius: 10px;
    /* Rounded bottom-left corner */
    border-bottom-right-radius: 10px;
    /* Rounded bottom-right corner */
}